[Desktop Entry]
Version=1.0
Exec=gimp-2.10 %U
Icon=gimp
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;X-XFCE;
Name=Application Finder
Name[fr]=Éditeur d’image GIMP
Comment=Find and launch applications installed on your system
Comment[fr]=Créer des images et modifier des photographies
Keywords=program;applications;bookmarks;
Keywords[fr]=programme;applications;marque-pages;
X-XFCE-Source=file:///usr/share/applications/xfce4-appfinder.desktop
Path=
